# Assignment: Programming Review
## Krishu Wadhwa - euj7fh
## September 11, 2024

# Question 1
**1. Go to the Occupational Outlook Handbook at https://www.bls.gov/ooh/. Look up "Data Scientist." Read about the job and start collecting data about it from the job profile (e.g. salary, education required, work setting)**

In [6]:
import pandas as pd

url = 'https://github.com/kweuj7fh/DS3001-Programming/raw/main/Careers.csv'
careers = pd.read_csv(url)
careers.head(1)

,Job Title,2023 Median Pay (Annual),2023 Median Pay (Hourly),Typical Entry-Level Education,Work Experience in a Related Occupation,On-the-job Training,"Number of Jobs, 2023","Job Outlook (%), 2023-33","Employment Change, 2023-33",Job Rank
0,Data Scientist,"$108,020",$51.93,Bachelor's degree,NaN,NaN,"202,900",36,"73,100",4

**2. Find 7-10 other jobs that appeal to you, and collect the same data as you did for Data Scientist. Put it all in a spreadsheet.**

In [7]:
careers

,Job Title,2023 Median Pay (Annual),2023 Median Pay (Hourly),Typical Entry-Level Education,Work Experience in a Related Occupation,On-the-job Training,"Number of Jobs, 2023","Job Outlook (%), 2023-33","Employment Change, 2023-33",Job Rank
0,Data Scientist,"$108,020",$51.93,Bachelor's degree,NaN,NaN,"202,900",36,"73,100",4
1,Top Executives,"$103,840",$49.92,Bachelor's degree,5 years or more,NaN,"3,944,000",6,"227,600",1
2,Financial Managers,"$156,100",$75.05,Bachelor's degree,5 years or more,NaN,"837,100",17,"138,300",3
3,Computer and Information Research Scientists,"$145,080",$69.75,Master's degree,NaN,NaN,"36,600",26,"9,400",5
4,"Software Developers, Quality Assurance Analyst...","$130,160",$62.58,Bachelor's degree,NaN,NaN,"1,897,100",17,"327,900",6
5,Economists,"$115,730",$55.64,Master's degree,NaN,NaN,"17,500",5,900,7
6,Mathematicians and Statisticians,"$104,860",$50.41,Master's degree,NaN,NaN,"34,800",11,"3,900",8
7,Financial Analysts,"$99,890",$48.02,Bachelor's degree,NaN,NaN,"404,800",9,"37,900",2
8,Accountants and Auditors,"$79,880",$38.41,Bachelor's degree,NaN,NaN,"1,562,000",6,"91,400",9
9,Budget Analysts,"$84,940",$40.84,Bachelor's degree,NaN,NaN,"50,800",4,"2,000",10

**3. Do any of your findings surprise you?**
<br />
One of the main things that surprised me was discovering that only three out of the ten jobs I researched required a Master's degree as the typical entry-level education. I thought many more jobs would require this. Additionally, I found it interesting that data scientists and computer scientists had the highest job outlook, despite recent news of mass layoffs and cost-cutting measures in many technology firms.

**4. Rank the jobs you picked from best to worst, and briefly explain why you did so.**

In [9]:
careers_sorted = careers.sort_values(by='Job Rank')
careers_sorted

,Job Title,2023 Median Pay (Annual),2023 Median Pay (Hourly),Typical Entry-Level Education,Work Experience in a Related Occupation,On-the-job Training,"Number of Jobs, 2023","Job Outlook (%), 2023-33","Employment Change, 2023-33",Job Rank
1,Top Executives,"$103,840",$49.92,Bachelor's degree,5 years or more,NaN,"3,944,000",6,"227,600",1
7,Financial Analysts,"$99,890",$48.02,Bachelor's degree,NaN,NaN,"404,800",9,"37,900",2
2,Financial Managers,"$156,100",$75.05,Bachelor's degree,5 years or more,NaN,"837,100",17,"138,300",3
0,Data Scientist,"$108,020",$51.93,Bachelor's degree,NaN,NaN,"202,900",36,"73,100",4
3,Computer and Information Research Scientists,"$145,080",$69.75,Master's degree,NaN,NaN,"36,600",26,"9,400",5
4,"Software Developers, Quality Assurance Analyst...","$130,160",$62.58,Bachelor's degree,NaN,NaN,"1,897,100",17,"327,900",6
5,Economists,"$115,730",$55.64,Master's degree,NaN,NaN,"17,500",5,900,7
6,Mathematicians and Statisticians,"$104,860",$50.41,Master's degree,NaN,NaN,"34,800",11,"3,900",8
8,Accountants and Auditors,"$79,880",$38.41,Bachelor's degree,NaN,NaN,"1,562,000",6,"91,400",9
9,Budget Analysts,"$84,940",$40.84,Bachelor's degree,NaN,NaN,"50,800",4,"2,000",10

The table above displays the careers I researched, organized according to my personal ranking. Several factors influenced this ranking. Firstly, I looked at salary. As such, the higher-paying jobs ranked higher on my list. I also considered the typical entry-level education requirements, as I currently do not plan to pursue a master's degree until at least 5-6 years after gaining work experience. I also factored in the number of current jobs and the projected job outlook. This is why careers like data scientists and computer scientists are ranked higher than I might have initially placed them. Lastly, I factored in my own educational and professional background, as well as my personal interests. I am a double major in Economics and Computer Science, with a minor in Data Science. I have a strong interest in finance, and therefore, financial analysts and financial managers are ranked higher on my list.

**5. Please submit your spreadsheet with the assignment --- you can "de-identify" it and remove anything that you find personally identifying or you don't want to share, of course. We'll play with these data later.**
<br />
Spreadsheet has been uploaded to github under the name "Careers.csv".